body {
    background: rgb(214, 214, 214);
}
#fundo {
    background: grey;
    width: 400px;
    margin: auto;
    padding: 20px;
    text-align: center;
}
header {
    border: solid 1px;
    background: rgb(202, 202, 202);
    margin-bottom: 20px;
}
#agora {
    border: solid 1px;
    background: rgb(201, 189, 255);
    font-size: 18pt;
    padding: 2px;    
}
#imagem {
    padding: 60px;
    background: rgb(189, 189, 152);;
}
footer {
    background: rgb(196, 240, 196);
    font-style: italic;
    padding: 0.5px;
}